* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.header {
    padding: 10px 50px;
    border-bottom: 3px solid #aaa;
}

.content {
    padding: 15px 15px 25px 15px;
}

.menu a {
    margin-right: 15px;
}

.product {
    border-bottom: 1px solid #aaa;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.product .image {
    float: left;
    max-width: 250px;
    margin: 0 15px 15px 0;
}

.product .panel {
    float: right;
    font-size: 21px;
}

.product .panel a {
    color: #000;
    text-decoration: none;
}

.order {
    text-align: right;
    margin-bottom: 5px;
}

.order a {
    margin: 0 5px;
}

.form-product {
    width: 600px;
}

.form-product .input-name {
    width: 20%;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.form-product textarea,
.form-product input {
    width: 80%;
}

.form-product textarea {
    height: 200px;
}

.form-product .submit {
    width: 120px;
    float: right;
}

.add-page .status {
    color:#ff0000;
}