<?php

function getConfig()
{
    static $config = [
        'db' => [
            'host' => '',
            'name' => '',
            'user' => '',
            'password' => '',
        ],
        'cache' => [
            'host' => '',
            'port' => 0,
            'lifetime' => 60 * 60 * 24
        ],
        'page_size' => 20
    ];

    return $config;
}